/* *,
*:after,
*:before {
  border: solid 1px grey;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
} */
body {
  font-family: Arial;
}

/* HEADER */
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 18vh;
  justify-content: space-around;
  padding: 3% 2% 1%;
  width: 100%;
  background-color: #96C0CE;
}

#header-welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#dropdown-container {
  align-self: flex-start;
  display: flex;
  justify-self: flex-end;
}

/* MAIN */
main {
  display: flex;
  height: 82vh;
  justify-content: center;
  width: 100%;
  background-color: #74828F;
  overflow: scroll;
}

aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 2%;
  width: 20%
}

canvas {
  background-color: white;
}

#user-profile-container {
  border: 1px solid black;
  height: 45%100vh;
  text-align: center
}

#competition-container {
  align-items: center;
  max-height: 55%;
  text-align: center;
}

#top-performers-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 100%;
  overflow: scroll;
}

#all-highest-qual-sleepers {
  max-height: 40%;
  overflow: scroll
}

#step-challenge-container {
  border: 1px solid black;
  /* max-height: 25%; */
  max-height: 25vh;
  margin-top: 10%;
  overflow: scroll;
  width: 100%;
  margin-bottom: 3%;
  margin-top: -3%;
}

/* MAIN VIEW */
.main-view {
  height: 100%;
  width: 80%
}

/* MAIN VIEW HEADER */
.view-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15%;
  justify-content: space-between;
  padding: 2% 2% 1%;
  width: 100%;
  border: solid black 5px;
  border-radius: 10px
}

#view-title-btns {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.change-date {
  align-self: flex-end;
  justify-self: flex-end;
}

/* PAGE VIEW */
.page-view {
  display: flex;
  height: 85%;
  padding: 4%;
  text-align: center;
  width: 100%
}

/* DAY VIEW */
#day-view {
  flex-direction: column;
}

.day-stats-title {
  height: 5vh;
  border: solid black 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BEB9B5;
  padding: 1%;
  margin-top: -3%;
}

#day-stats-text {
  height: 40%;
  width: 100%
}

#day-stats-text-container {
  display: flex;
  height: 80%;
  justify-content: space-between;
}

#day-stats-title {
  height: 20%
}

.day-stats-text-box {
  height: 50%;
  width: 20%;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #FEF6EB;
}

#day-stats-charts {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  justify-content: space-between;
}

#day-stats-charts-container {
  display: flex;
  height: 90%;
  justify-self: flex-end;
  justify-content: space-between;
}

/* WEEK VIEW */
#week-view {
  flex-direction: column;
  overflow: scroll
}

#week-stats-title,
#all-time-stats-title {
  height: 9vh;
  border: solid black 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3%; 
}

#week-stats-charts {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around
}

#week-stats-charts-top,
#week-stats-charts-bottom {
  display: flex;
  height: 80%;
  justify-content: space-between;
}

#week-stats-text {
  display: flex;
  height: 20%;
  justify-content: space-between
}

#week-stats-text-container {
  display: flex;
  height: 80%;
  justify-content: space-between;
}

.week-stats-text-box {
  height: 135%;
  width: 30%;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #FEF6EB;
}

.chart-container {
  height: 100%;
  width: 30%;
}

/* ALL TIME VIEW */
#all-time-view {
  flex-direction: column;
}

#all-time-stats {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#all-time-stats-top {
  display: flex;
  height: 60%;
  justify-content: space-evenly;
}

#all-time-stats-bottom {
  display: flex;
  height: 40%;
  justify-content: space-evenly;
  margin-top: -15%;
}

#avg-sleep-quality-chart,
#step-goal-comparison {
  width: 40%;
}

.all-time-stats-box {
  height: 30%;
  width: 20%;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #FEF6EB;
}

.hide {
  display: none
}

#exceed-step-goal-dates {
  overflow: scroll;
} 

.stat {
  font-size: 30px;
  margin: -18px;
}

#greeting {
  font-size: 20px;
}



