*,
*:after,
*:before {
  border: solid 1px grey;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
  padding: 3% 2% 1%;
  width: 100%
}

#header-welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#dropdown-container {
  align-self: flex-start;
  display: flex;
  justify-self: flex-end;
}

/* MAIN */
main {
  display: flex;
  height: 85vh;
  width: 100%
}

aside {
  height: 100%;
  width: 20%
}

/* MAIN VIEW */
.main-view {
  height: 100%;
  width: 80%
}

/* MAIN VIEW HEADER */
.view-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15%;
  justify-content: space-between;
  padding: 4% 2% 1%;
  width: 100%
}

#view-title-btns {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.change-date {
  align-self: flex-end;
  justify-self: flex-end;
}

/* PAGE VIEW */
.page-view {
  display: flex;
  height: 85%;
  padding: 4%;
  text-align: center;
  width: 100%
}

/* DAY VIEW */
#day-view {
  flex-direction: column;
}

#day-stats-text {
  height: 40%;
  width: 100%
}

#day-stats-text-container {
  
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#day-stats-title {
  height: 20%
}

.day-stats-text-box {
  height: 80%;
  width: 20%
}

#day-stats-charts {
  height: 60%;
  width: 100%;
}

/* WEEK VIEW */
#week-view {
  flex-direction: column;
  overflow: scroll
}

#week-stats-title {
  height: 15%
}

#week-stats-charts {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around
}

#week-stats-charts-top,
#week-stats-charts-bottom {
  display: flex;
  justify-content: space-between;
}

#week-stats-text {
  display: flex;
  height: 20%;
  justify-content: space-between
}

.week-stats-text-box {
  height: 100%;
  width: 30%
}

.chart-container {
  width: 30%;
}

/* ALL TIME VIEW */
#all-time-view {
  flex-direction: column;
}

#all-time-stats {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

#all-time-stats-top,
#all-time-stats-bottom {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
}

.all-time-stats-box {
  height: 90%;
  width: 40%
}

.hide {
  display: none
}